/*header {
	background-color: #070263;
	margin: 10px 0;
}
*/
/*body*/

body {
	background: #FEFFF5;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 25px;
}

.toppage {
	font-size: 40px;
	text-decoration: underline;
	/*border-bottom: 1px solid black;*/
}
.container {
	width: 80%;
}
/*header style*/
.mrms {
	font-size: 50px;
}
.navbar-header {
	float: none;
}
.navbar-toggle {
	background-color: black;
}
.navbar-toggle .icon-bar {
	background-color: #FEFFF5;
}
.navbar-toggle {
	margin-top: 20px;
}
li {
	list-style-type: none;
	display: inline-block;
  	padding-right: 10px;
  	font-size: 30px;
}
a {
	text-decoration: none;
	color: black;	
}
img {
	width: 700px;
	height: 500px;
	border: 1px solid black;
	padding: 2px;
}
.bottom h2 {
	font-size: 40px;
	font-weight: 600;
}
.bottom h4 {
	font-size: 30px;
}
.bottom p {
	font-family: 'PT Serif', serif;
	font-weight: 400 italic;
}

/*our story*/
.stadium {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}
.stadium img {
	padding: 2px;
}
.stadium p {
	text-align: center;
	font-size: 18px;
}
.college {
	width: 300px;
}


/*bridesmaids*/
.bride_text h3 {
	font-weight: 800;
	font-size: 35px;
}
.bride_text p {
	font-family: 'PT Serif', serif;
	font-size: 20px;
}
.bride_text h4 {
	font-weight: 600;
}

/*GROOMSMEN*/
.groom_text h3 {
	font-weight: 800;
	font-size: 35px;
}

.groom_text p {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}
.groom_text h4 {
	font-weight: 800;
}

/*Venue*/
.venue h3 {
	font-size: 30px;
	font-weight: 800;
}
.venue p {
	font-family: 'PT Serif', serif;
	font-size: 15px; 
}
.venue img {
	border: 1px solid black;
	padding: 2px;
}
.map {
	width: 650px;
}
/* Clear fix hack */
.clearfix:after {
     content: "";
     display: block;
     clear: both;
     