/*header {
	background-color: #070263;
	margin: 10px 0;
}
*/
/*body*/

body {
	background: #FEFFF5;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 25px;
	max-width: 900px;
	margin: 0 auto;
}

.toppage {
	font-size: 40px;
	text-decoration: underline;
	font-family: 'PT Serif', serif;
	/*border-bottom: 1px solid black;*/
}
.container {
	width: 80%;
}
/*header style*/
.mrms {
	font-size: 50px;
}
.navbar-header {
	float: none;
}
.navbar-toggle {
	background-color: black;
}
.navbar-toggle .icon-bar {
	background-color: #FEFFF5;
}
.navbar-toggle {
	margin-top: 20px;
}
li {
	list-style-type: none;
	display: inline-block;
  	padding-right: 10px;
  	font-size: 30px;
 }
a {
	text-decoration: none;
	color: black;	
}
img {
	width: 100%;
	border: 1px solid black;
	padding: 2px;
}
.bottom h2 {
	font-size: 40px;
	font-weight: 600;
}
.bottom h4 {
	font-size: 30px;
	padding-top: 10px;
}
.bottom p {
	font-family: 'PT Serif', serif;
	font-weight: 400 italic;
}

/*our story*/
.stadium {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}
.stadium img {
	padding: 2px;
}
.stadium p {
	text-align: center;
	font-size: 18px;
}
.college {
	width: 380px;
}



/*bridesmaids*/
.bride_text h3 {
	font-weight: 800;
	font-size: 35px;
}
.bride_text p {
	font-family: 'PT Serif', serif;
	font-size: 20px;
}
.bride_text h4 {
	font-weight: 600;
	font-size: 15px;
	font-family: 'PT Serif', serif;
}

/*GROOMSMEN*/
.groom_text h3 {
	font-weight: 800;
	font-size: 35px;
}

.groom_text p {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}
.groom_text h4 {
	font-weight: 800;
	font-size: 15px;
	font-family: 'PT Serif', serif;
}

/*Registry*/
.ring {
	float: left;
	width: 60%;
	text-align: center;
}

.chambers img {
	max-width: 500px;
}
.gifts {
	float: left;
	width: 40%;
	font-size: 35px;
	text-align: center;
}
.intro p {
	font-family: 'PT Serif', serif;
	font-size: 30px;
}
.macy, .fundme, .target {
	font-family: 'PT Serif', serif;
	padding: 10px;
	border: 1px solid #FEFFF5;
	border-radius: 5px;
	margin-bottom: 5px;
}
.macy a, .fundme a, .target a {
	color: white;
}
.macy {
	background-color: #c00;
}
.target {
	background-color: #fc4f2d;
}
.fundme {
	background-color: #2a6496;
}
/*Venue*/
.venue h3 {
	font-size: 30px;
	font-weight: 800;
}
.venue p {
	font-family: 'PT Serif', serif;
	font-size: 15px; 
}
.venue img {
	border: 1px solid black;
	padding: 2px;
}
.map {
	width: 650px;
	margin: 0 auto;
}
/* Clear fix hack */
.clearfix:after {
     content: "";
     display: block;
     clear: both;
 }
     
@media screen and (max-width: 768px) {

.toppage {
	font-size: 1.5em;
}
.li {
	font-size: 1.5em;
}

/*header style*/
.mrms {
	font-size: 1.5em;
}

/*our story*/
.stadium p {
	font-size: 1em;
}
/*bridesmaids*/
h2.toppage {
	font-size: 1em;
}

/*registry*/
.chambers h2 {
	font-size: 1em;
}
.ring {
	float: none;
	width: 95%;
	margin:0 auto;
	text-align: center;
}
.intro p {
	font-size: .8em;
}
.chambers img {
	max-width: 500px;
}
.gifts {
	float: none;
	width: 95%;
	margin: 0 auto;
	font-size: 1em;
	text-align: center;
}
.macy, .fundme, .target {
	width: 60%;
	margin: 0 auto;
}

/*venue*/
.venue h2 {
	font-size: 1em;
}
.bottom h2 {
	font-size: 1em;
}
.bottom h4 {
	font-size: .9em;
}